include ez_setup.py
include setup.py
include CHANGELOG
include README
include INSTALL
include LICENSE
include TODO
include THANKS
include AUTHORS
include UPGRADE
recursive-include bin *
recursive-include Pyblosxom *
recursive-include Pyblosxom/data *
recursive-include Pyblosxom/flavours *
recursive-include docs/source *
recursive-include tests *
