include setup.py
include CHANGELOG
include README
include INSTALL
include LICENSE
recursive-include bin *
recursive-include Pyblosxom *.py
recursive-include web *
recursive-include Pyblosxom/flavours *
recursive-include docs *
