include setup.py
include WHATSNEW
include README
include INSTALL
include LICENSE
include AUTHORS
include UPGRADE
recursive-include bin *
recursive-include Pyblosxom *
recursive-include Pyblosxom/data *
recursive-include Pyblosxom/flavours *
recursive-include Pyblosxom/tests *
recursive-include docs *
